header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

body{
  background-color: #efeff5;
  font-family: 'Roboto', sans-serif;
  /* padding-block-start: 5rem; */
}

nav ul{
  list-style-type: none;
  /* position: fixed; */
  /* display: block; */
  /* width: 100%; */
  display: flex;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float:right;
}

nav a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 20px
}

nav a:focus{
  background-color: #111;
}

h1{
  font-size: 30px;
  color: white;
}

/* h2, p{
  padding-bottom: 20px;
} */

main{
  padding-left: 2vw;
  padding-right: 2vw;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px groove #021a40;
}

/* maybe include a :focus transition to grayscale?*/
#mvn-callout{
  background-color: white;
  background-image: url(../images/mvn.JPG);
}

#walkher-callout{
  background-color: white;
  background-image: url(../images/walkher.jpg);
}

#gooru-callout{
  background-color: white;
  background-image: url(../images/gooru.JPG);
}

.skip a{
  position:absolute;
  left:-10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow:hidden;
}

.skip a:focus{
  position:static;
  width:auto;
  height:auto;
}

.current{
  background-color: #993366;
  font-weight: bold;
  font-style: italic;
}

.project-tile{
  position: relative;
  margin-bottom: 2vh;
  border: 1px groove #7b7e84;
  background-size: 100%;
  height: 30vh;
  text-align: center;
}

.project-tile ul{
  list-style-type: none;
  margin: auto;
}

.center{
  position: absolute;
    top: 50%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  transform: translateY(-50%);
  background-color: #333;
  color: white;
  opacity: 0.9;
}

.center a{
  text-decoration: none;
  color: white;
}

.gallery{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.resume h2{
  padding-top: 20px;
}

.profile{
  display: flex;
  justify-content: center;
}

.container{
  display: grid;
  grid-template-columns: auto;
}

.container p{
  padding: 2vh;
}

.container img{
  margin: 2vh;
}

/* responsive design for larger screens */
@media screen and (min-width:500px){
  .projects{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .project-tile{
    background-size: 100%;
    height: 30vh;
    width: 50vh;
  }

  .gallery{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
    justify-content: center;
	}

  .gallery img{
		max-width: 30%;
		height: 30vh;
	}

  .container{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .profile img{
    width:50vh;
    height: 75vh;
  }
}
